<div class="colab_persons">
    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/1b2857cb7caa1d67a9d36a39f18e426c117dcb14-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>FENTY</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/d5c6a877440b7f46204ec4727a2674d29d7a57c5-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>CARROTS</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/19d76d0e11acfc30c97dcf4d1bda4562cb38358c-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>MELO</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/95228c54542945e555ef29416d55b335401909f6-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>STEWIE</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/527dad9a12fcaec193dacf055bfeb9a775f6b6e9-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>TROLLS</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/a306ed463b381fa740ae2d437167618934a1aca4-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>F1</h2>
        </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/e59bfefc3d27ed0b338f292afe5ed84bbb256e07-1536x1536.jpg" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>COLLINA STRADA</h2>
            </div>
        </div>
    </div>

    <div class="person_img">
        <img src="https://cdn.sanity.io/images/qa41whrn/prod/0b60ad555754fc481a7549c0f581fe84de668783-1536x1536.png" alt="">
        <div class="person_name">
            <div class="person_name_h">
            <h2>KINDSUPER</h2>
        </div>
        </div>
    </div>
</div>

<div class="all_colab_items">
    <h1>Shop All Collaborations</h1>
</div>

<div class="sort_by">
    <hr>
    <div class="sort">
        <div class="sort_img">
            <img src="assets\tool.png" alt="">
        </div>
        <div class="sort_pice"><p>Gender</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Category</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Style</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Price</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Size</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Color</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Sport</p><img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Team</p><img src="assets\down-arrow.png"> </div>
        <div class="sort_jujul"><b>SORT BY</b> <img src="assets\down-arrow.png"> </div> 
    </div>
    <hr>
</div>

<div class="sneaker_list">
    <ul>
        <li *ngFor="let products of ColabProducts">
            <div class="sneakers" routerLink="/shipping">
                <div class="sneakers_img"> <img [src]="products.image" alt="products.iage"> </div>
                <div class="flex_price">
                <div class="sneakers_title"> <h4>{{products.title}}</h4></div>
                <div class="sneakers_price"> <p>{{products.base_price | currency: "$"}}</p> </div>
            </div>
            </div>
        </li>
    </ul>
</div>