.shipping{
    display: flex;
}

.shipping_img{
    width: 100%;
    width: 55vw;
}

.shipping_img img{
    width: 50vw;
    height: 120vh;
}

.shipping_title{
    font-size: 1.2rem;
}

.shipping_flex{
    display: flex;
    flex-direction: column;
    width: 40%;
}

ul{
    list-style: none;
}

.shipping_price p{
    font-size: 1.3rem;
    font-weight: 700;
}

.shipping_explore button{
    width: 100%;
    height: 4rem;
    background: none;
    border: 1px solid black;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: -1px;
    cursor: pointer;
}

.shipping_explore button:hover{
    border: 2px solid black;
}

.shipping_btn_flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
}

.shipping_sizes button{
    width: 3.5rem;
    height: 3.5rem;
    background: none;
    border: 1px black solid;
    cursor: pointer;
}

.shipping_sizes button:active{
    background-color: black;
    color: white;
}

.text_flex{
    display: flex;
    flex-direction: column;
}

.text_size{
    font-size: 1.2rem;
    font-weight: 700;
}

.fit_finder{
    display: flex;
}

.fit_finder img{
    width: 7rem;
}

.fit_para{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    font-size: 0.9rem;
    gap: 0.5rem;
}

.fit_para p{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0.1rem;
}

.fit_hr{
    height: 25%;
}

.cart_btn{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    gap: 1rem;
}

.add_quantity{
    display: flex;
    flex-direction: column;
}

#select{
    width: 4vw;
    height: 5vh;
}

.quantity{
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: no-drop;
    background-color: rgb(225, 225, 225);
    border: none;
    
}

.cart_btn button{
    height: 4rem;
    width: 22rem;
}

.cart_btn span{
    font-weight: 700;
    font-size: 1.01rem
}

.Add_To_Cart{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.Add_To_Wishlist{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}