<div class="sneakers_list">
    <ul>
        <li *ngFor="let products of MyShipping">
            <div class="shipping">
                <div class="shipping_img"> <img [src]="products.image" alt=""> </div>

                <div class="shipping_flex">
                <!-- <div class="shipping-brand"><h1>{{products.brand}}</h1></div> -->
                <div class="shipping_title"><h2>{{products.title}}</h2></div>
                <div class="shipping_price"><p>{{products.base_price | currency: "$"}}</p></div>
                <div class="shipping_explore"> <button>EXPLORE THIS COLLECTION</button> </div>
                <hr>
                <div class="text_size"><p>Size</p></div>
                <div class="shipping_btn_flex">
                <div class="shipping_sizes"><button>{{products.variants[0].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[1].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[2].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[3].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[4].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[5].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[6].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[7].size}}</button></div>
                <div class="shipping_sizes"><button>{{products.variants[8].size}}</button></div>
                    </div>
                    <div class="fit_finder">
                        <img src="assets\fit-finder-PDP-black.svg" alt="">


                        <div class="fit_para">
                        <p>FIND MY SIZE</p>
                        <hr class="fit_hr">
                        <p>SIZE GUIDE</p>
                    </div>
                    </div>
                    <div class="add_quantity">
                        <button class="quantity"><span>1</span> <img src="assets\down-arrow.png"></button>
                    <div class="cart_btn">
                        <button class="Add_To_Cart"  routerLink="/cart" (click)="addToCart(products)" ><span>ADD TO CART</span></button>
                        <button class="Add_To_Wishlist"> <img src="assets\heart.png"> <span>ADD TO WISHLIST</span></button>
                    </div>
                </div>
                </div>
            </div>
        </li>
    </ul>
</div>