<div class="sneakers_list">
    <ul>
        <li *ngFor="let products of MyShipping">
            <div class="shipping">
                <div class="shipping_img"> <img [src]="products.image" alt=""> </div>
                <div class="shipping_flex">
                <div class="shipping-brand"><h1>{{products.brand}}</h1></div>
                <div class="shipping_title"><h2>{{products.title}}</h2></div>
                <div class="shipping_price"><p>{{products.base_price | currency: "$"}}</p></div>
                <div class="size" *ngFor="let variant of MyShipping">
                <div class="shipping_sizes"><button>{{variant.size}}</button></div>
            </div>
            </div>
            </div>
        </li>
    </ul>
</div>