li{
    list-style-type: none;
}

.products_img{
    width: 25%;
    height: 100%;
}

.products_img img{
    width: 100%;
}

.cart_flex{
    display: flex;
    border: 1px solid rgb(164, 164, 164) ;
    width: 55%;
    margin-bottom: 1rem;
}

.size_flex{
    display: flex;
    flex-direction: column;
}

.cart_left{
    margin-left: auto;
    padding-right: 1rem;
}

.quantity{
    width: 5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.cart_bin img:hover{
    rotate: 20deg;
    cursor: pointer;
}