<div class="products_list">
    <ul>
        <li *ngFor="let products of MyCart">
            <div class="cart_flex">
            <div class="products_img"> <img [src]="products.image" alt="products.image"></div>
            <div class="cart_title"><h2>{{products.title}}</h2></div>
            <div class="size_flex">
                <div class="cart_price"><h3>{{products.base_price | currency: "$"}}</h3></div>
                <div class="cart_size"><p>{{products.variants[0].size}}</p></div>
            </div>
            </div>
            
        </li>
    </ul>
</div>