<div class="products_list">
    <ul>
        <li *ngFor="let products of MyCart">
            <div class="cart_flex">

            <div class="products_img"> <img [src]="products.image" alt="products.image"></div>

            <div class="cart_text">
                <div class="cart_title"><h2>{{products.title}}</h2></div>
                <div class="cart_size"><p> <span>Size:</span> {{products.variants[0].size}}</p>
                </div>

                <div class="cart_inp"> 
                    <select id="quantity" class="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
                <div class="cart_left">
                <div class="cart_price"><h3>{{products.base_price | currency: "$"}}</h3></div>
                <div class="cart_bin" (click)="remove(products)"> <img src="assets\recycle-bin.png" > </div>
            </div>
            </div>
        </li>
    </ul>

        <div class="soon" *ngIf="soon">
            <div class="deliver">
            <img src="assets\delivery-truck.png"> <span>Your goods will be delivered to you within 2 weeks</span>
        </div>

        <div class="soon_button" routerLink="/home">
            <button><span>OK</span></button>
        </div>
        </div>

    <div class="deliver_list">
        <div class="free_ship_ret">
        <div class="free_shipping"> <img src="assets\delivery-truck.png"> <span>YOU'VE EARNED FREE SHIPPPING</span></div>
        <div class="free_return"> <img src="assets\undo.png"> <span>FREE RETURNS ON ALL QUALIFYNG ORDERS</span></div>
    </div>
        <div class="subtotal">
            <hr>
            <div class="ajaragadziska"><span>SUBTOTAL</span> <span>{{total | currency: "$"}}</span></div>
            <div class="ajaragadziska"><span>SHIPPING COSTS</span>  <span>FREE</span></div>
            <div class="ajaragadziska"><span>ESTIEMATED SALES TAX</span> <span>_</span></div>
            <hr>
        </div>

        <div class="Estimated_total">
            <h3><span>ESTIMATED TOTAL</span> <span>{{total | currency: "$"}}</span></h3>
        </div>

        <div class="check_btns">
            <div class="checkout" (click)="removeAll()"> <button><h3>CHECKOUT</h3></button> </div>
            <div class="PayPall"> <button><img src="\assets\paypal.png"></button> </div>
            <div class="GooglePay"> <button><img src="\assets\google-pay.png"></button> </div>
        </div>

        <div class="policy">
            <p>By continuing, I confirm that I have read and accept the <span>Terms and Conditions.</span> and the <span>Privacy Policy.</span></p>
        </div>
    </div>
</div>

<div class="like"> <h2>YOU MAY ALSO LIKE</h2> </div>

<div class="carousel-container">
    <button class="carousel-control prev" (click)="prev()">‹</button>
    <div class="carousel" [style.transform]="'translateX(' + (-currentSlide * 100 / visibleSlides) + '%)'">
      <div class="carousel-item" *ngFor="let item of item">
        <div class="carousel-content">
          <img [src]="item.src" alt="Carousel image">
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="next()">›</button>
  </div>

<div class="support">
    <div class="sup_div">
        <img src="\assets\lock.png" class="sup_img">
        <h3>secure payments</h3>
        <p>ssl encryption on all transactions</p>
    </div>
    <div class="sup_div">
        <img src="\assets\delivery.png" class="sup_img">
        <h3>free & fast returns</h3>
        <p>free return on all qualifying orders</p>
    </div>
    <div class="sup_div">
        <img src="\assets\comment.png" class="sup_img">
        <h3>Active Support</h3>
        <p>Get in touch if you have a problem</p>
    </div>
</div>

<div class="partners"> <p>OUR TRUSTED PAYMENT PARTNERS</p> </div>
<div class="pay_partners">
    <img src="\assets\visa.png">
    <img src="\assets\card.png">
    <img src="\assets\american-express.png">
    <img src="\assets\discover.png">
    <img src="\assets\paypal.png">
    <img src="\assets\afterpay-circles-small-image-removebg-preview.png">
    <img src="\assets\symbols.png">
    <img src="\assets\apple-pay.png">
    <img src="\assets\google-pay.png">
</div>
