.products_list{
    display: flex;
}

ul{
    width: 55%;
}

li{
    list-style-type: none;
    width: 100%;
}

.products_img{
    width: 25%;
    height: 100%;
}

.products_img img{
    width: 100%;
}

.cart_flex{
    display: flex;
    border: 1px solid rgb(229, 231, 235) ;
    width: 100%;
    margin-bottom: 1rem;
}

.size_flex{
    display: flex;
    flex-direction: column;
}

.cart_left{
    margin-left: auto;
    padding-right: 1rem;
}

.quantity{
    width: 5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.cart_bin img:hover{
    rotate: 20deg;
    cursor: pointer;
}

.deliver_list{
    padding-top: 1rem;
    padding-left: 2rem;
    width: 35%;
}

.free_ship_ret{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.free_shipping{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: 1px rgb(229, 231, 235) solid;
    border-radius: 5px;
    font-size: 0.5rem;
    font-weight: 700;
    color: green;
    gap: 1rem;
}

.free_return img{
    width: 1.1rem;
}

.free_return{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: 1px rgb(229, 231, 235) solid;
    border-radius: 5px;
    font-size: 0.5rem;
    font-weight: 700;
    color: rgb(108, 108, 108);
    gap: 1rem;
}

.subtotal{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.ajaragadziska{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgb(108, 108, 108);
}

.Estimated_total h3{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.check_btns{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.check_btns button{
    width: 100%;
    height: 4.1rem;
    background: none;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3px;
    cursor: no-drop;
}

.checkout button{
    background-color:rgb(189, 193, 197);
}

.PayPall button:hover, .GooglePay button:hover{
    background-color: rgb(208, 208, 208);
}

.PayPall img, .GooglePay img{
    width: 18%;
    height:100%;
}

.policy{
    color: rgb(108, 108, 108);
}

.policy span{
    text-decoration: underline;
    text-decoration-color:rgb(209, 209, 209);
    text-decoration-thickness: 0px;
    cursor: pointer;
}

.policy span:hover{
    text-decoration-color: rgb(195, 169, 37);
    text-decoration-thickness: 0.08rem;
}

.like{
    padding-left: 3rem;
}

.carousel-container {
    background-color: white;
    position: relative;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .carousel-item {
    min-width: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .carousel-content {
    width: 95%;
  }
  
  .carousel-content img {
    width: 100%;

    object-fit: cover;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
  }
  
  .carousel-control.prev {
    margin-right: 95%;
    border-radius: 50%;
  }
  
  .carousel-control.next {
    margin-left: 95%;
    border-radius: 50%;
  }


.support{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.sup_div{
    border: 1px black solid;
    border-radius: 10px;
    height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sup_img{
    width: 2.5rem;
    padding-bottom: 1rem;
}

.sup_div p, .sup_div h3{
    margin: 0;
}

.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.pay_partners{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
}

.pay_partners img{
    width: 3rem;
}