<div class="dot">
    <p><b>Home</b> • FENTY X PUMA</p>
</div>

<div class="pretty_fenty">
    <div class="fenty_img">
        <img src="assets\7e59477be93056bcd4ccd52b83cd9e285e12d0cc-2000x486.webp" alt="">
        <div class="fenty_txt">
            <div class="fenty_h"><h1>THE CREEPER PHATTY</h1></div>
            <div class="fenty_p"><p>BY RIHANNA</p></div>
        </div>
    </div>
</div>

<div class="fenty_X_puma">
    <h1>FENTY X PUMA</h1>
</div>

<div class="sort_by">
    <hr>
    <div class="sort">
        <div class="sort_img">
            <img src="assets\tool.png" alt="">
        </div>
        <div class="sort_pice"><p>Gender</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Category</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Price</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Size</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_pice"><p>Color</p> <img src="assets\down-arrow.png"> </div>
        <div class="sort_jujul"><b>SORT BY</b> <img src="assets\down-arrow.png"> </div> 
    </div>
    <hr>
</div>
<div class="sneaker_list">
    <ul>
        <li *ngFor="let products of sneakers">
            <div class="sneakers" routerLink="/shipping" (click)="add(products)">
                <div class="sneakers_img"> <img [src]="products.image_url" alt="products.iage"> </div>
                <div class="flex_price">
                <div class="sneakers_title"> <h4>{{products.title}}</h4></div>
                <div class="sneakers_price"> <p>{{products.base_price | currency: "$"}}</p> </div>
            </div>
            <div class="best_seller"> <button><span>BEST SELLER</span></button> </div>
            </div>
        </li>
    </ul>
</div>