<div class="dot">
    <p><b>Home</b> • FENTY X PUMA</p>
</div>

<div class="pretty_fenty">
    <div class="fenty_img">
        <img src="assets\7e59477be93056bcd4ccd52b83cd9e285e12d0cc-2000x486.webp" alt="">
        <div class="fenty_txt">
            <div class="fenty_h"><h1>THE CREEPER PHATTY</h1></div>
            <div class="fenty_p"><p>BY RIHANNA</p></div>
        </div>
    </div>
</div>

<div class="fenty_X_puma">
    <h1>FENTY X PUMA</h1>
</div>

<div class="sort_by">
    <hr>
    <div class="sort">
        <div class="sort_img">
            <img src="assets\tool.png" alt="">
        </div>

        <div class="sort_pice"><p>Gender <img src="assets\down-arrow.png"> </p></div>
        <div class="sort_pice"><p>Category <img src="assets\down-arrow.png"></p></div>
        <div class="sort_pice"><p>Price <img src="assets\down-arrow.png"></p></div>
        <div class="sort_pice"><p>Size <img src="assets\down-arrow.png"></p></div>
        <div class="sort_pice"><p>Color <img src="assets\down-arrow.png"></p></div>
    </div>
    <hr>
</div>

<div class="sneaker_list">
    <ul>
        <li *ngFor="let products of sneakers">
            <div class="sneakers">
                <div class="sneakers_img"> <img [src]="products.image" alt="products.iage"> </div>
                <div class="sneakers_name"> <h2>{{products.name}}</h2> </div>
                <div class="sneakers_price"> <p>{{products.price | currency: "$"}}</p> </div>
            </div>
        </li>
    </ul>
</div>