nav{
    position: sticky;
    top: -45px;
    z-index: 1;
}

/*  */
    .social{
        display: none;
    }

    .nav_menu{
        display: none;
    }

    .open, .close{
        display: none;
    }

    #hamburger_navmenu{
        display: none;
    }
/*  */
.pzdc{
    z-index: 10;
}

.ad-free{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    background-color: rgba(138,115,80);
    color: white;
    white-space: 10%;
}

.ad-free a{
    color: white;
}

.nav-main{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-around;
}

.pzdc{
    z-index: 10;
}

.navigation-links{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 70%;
    font-weight: 700;
}

.nav_links{
    display: flex;
    gap: 1rem;
}

.navigation-links a{
    color: white;
    text-decoration: none;
}

.search-account{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    padding-right: 5%;
    
}

.search_btn{
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
    border: 1px solid gray;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-weight: 700;
}

.search_btn:hover{
    border: 2px solid white;
}

@media (max-width: 576px){

    .nav-main{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav_links a{
        display: none;
    }

    .search-account{
        display: none;
    }

    .social{
        display: flex;
        gap: 1rem;
    }

    .hamburger_menu{
        display: flex;
        gap: 2rem;
    }

    .nav_menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: white;
        row-gap: 1rem;
        transition: 0.5s;
        }

    .nav_menu a{
        color: black;
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
    }

    .nav_menu hr{
        width: 50%;
        padding: 0;
    }

    .open, .close{
        display: block;
        z-index: 11;
    }

    .open{
        display: flex;
        align-items: center;
    }

    .open span{
        color: white;
        font-size: 0.5rem;
        font-weight: 100;
    }

    .open img{
        width: 1.3rem;
    }

    .close{
        padding: 1rem;
    }

    #hamburger_navmenu:checked ~ .nav_menu{
        right: 0;
    }
}