nav{
    position: sticky;
    top: -45px;
    z-index: 1;
}

.ad-free{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    background-color: rgba(138,115,80);
    color: white;
    white-space: 10%;
}

.ad-free a{
    color: white;
}

.nav-main{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-around;
}

.pzdc{
    z-index: 10;
}

.navigation-links{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 70%;
    font-weight: 700;
}

.navigation-links a{
    color: white;
    text-decoration: none;
}

.search-account{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    padding-right: 5%;
}

.search-button{
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
    border: 1px solid gray;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-weight: 700;
}

.search-button:hover{
    border: 2px solid white;
}
