.sale{
    background-color: rgba(246, 141, 40);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
}

.exclusive p{
    margin: 0;
}

.off h3{
    margin: 0;
    letter-spacing: 2px;
}

.exclusive{
    text-decoration: underline;
}

.best_dresses{
    margin-bottom: 5%;
}

.best_dresses img{
  width: 100%;
  height: 700px;
}

.dressed_text{
    position: absolute;
    top: 50%;
    left: 65%;
    text-align: end;
    width: 30%;
}

.dressed_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dressed_buttons a{
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    margin: auto;
    margin-bottom: 5%;
    background-color: white;
    position: relative;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .carousel-item {
    min-width: calc(100% / 4); /* Adjust based on the number of visible slides */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .carousel-content {
    width: 95%;
  }
  
  .carousel-content img {
    width: 100%;

    object-fit: cover;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
  }
  
  .carousel-control.prev {
    margin-right: 95%;
    border-radius: 50%;
  }
  
  .carousel-control.next {
    margin-left: 95%;
    border-radius: 50%;
  }
  
  .carousel-indicators {
    text-align: center;
    margin-top: 1rem;
  }
  
  .carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
.carousel-indicators .active {
    background: #333;
}

.best_foot_forward{
    text-align: center;
    width: 80%;
    margin: auto;
}

.best_foot_container{
    display: flex;
    justify-content: space-between;
}

.best_foot_container button{
    background-color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
}

.best_foot_container button:hover{
    background-color: #333;
}

.best_foot_container img{
  height:700px;
}

.back_to_school_deals{
    margin: auto;
    width: 80%;
    text-align: center;
}

.school_deals_photos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.school_deals_photos button{
    background-color: #1d1d1d;
    text-decoration: none;
    width: 30%;
    font-weight: bold;
    color: white;
    border: none;
}

.school_deals_photos button:hover{
    background-color: #333;
}

.last{
  margin-bottom: 5%;
}

.last img{
  width: 100%;
}

.last_text{
    position: absolute;
    top: 500%;
    left: 80%;
    text-align: end;
    font-weight: bold;
}

.last_text a{
    text-decoration: none;
    color: white;
    background-color: #1d1d1d;
    width: 50%;
} 

.last_text button{
    background-color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:0px) and (max-width:576px) {
  .off{
    font-size: medium;
    text-align: center;
  }

  .sale{
    font-size: 0.7rem;
    height: 5rem;
  }

  .best_dresses img{
    width: 100%;
    height: 200px;
    display: none;
  }

  .dressed_text{  
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
    display: none;
  }

  .carousel-container{
    width: 20vw;
    width: 100%;
  }

  .dressed_buttons{
    display: flex;
    flex-direction: column;
  }
  
  .dressed_buttons a{
    margin-top: 5%;
    width: 105%;
  }

  .best_foot_container{
    flex-direction: column;
    row-gap: 1rem;
  }

  .school_deals_photos{
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
  }

  .school_deals_photos img{
    flex-direction: column;
    width: 100%;
  }

  .best_foot_container img{
    height: 250px;
  }

  .class_over{
    position: relative;
    left: 54%;
    font-size: 0.3rem;
    width: 15%;
  }

  .last img{
    width: 100%;
  }

  .class_over{
    display: 0;
  }

  .last{
    display: none;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .dressed_text{
    width: 50%;
    text-align: center;
    position: absolute;
    left: 25%;
  }

  .best_foot_container{
    flex-direction: column;
  }

  .school_deals_photos{
    flex-direction: column;
    width: 100%;
  }
    
  .best_foot_container img{
    height: 500px;
  }

  .class_over{
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .class_over{
    display: none;
  }

  .off{
    font-size: medium;
    text-align: center;
  }

  .best_dresses img{
    width: 100%;
    height: 500px;
  }

  .dressed_text{
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
  }

  .dressed_buttons{
    display: flex;
    flex-direction: column;
  }
  
  .dressed_buttons a{
    margin-top: 5%;
    width: 105%;
  }

  .best_foot_container{
    flex-direction: column;
  }

  .school_deals_photos{
    flex-direction: column;
    width: 100%;
  }

  .school_deals_photos img{
    flex-direction: column;
    width: 100%;
  }

  .best_foot_container img{
    height: 250px;
  }

  .class_over{
    position: relative;
    left: 54%;
    font-size: 0.3rem;
    width: 15%;
  }

  .last img{
    width: 100%;
  }

  .class_over{
    display: 0;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .dressed_text{
    width: 50%;
    left: 40%;
  }

  .best_foot_container img{
    height: 250px;
  }

  .school_deals_photos{
    flex-wrap: wrap;
  }

  .school_deals_photos img{
    height: 250px;
    
  }

  .class_over{
    display: none;
  }

}

@media screen and (min-width:1200px) and (max-width:1540px) {
    .dressed_text{
    width: 50%;
    left: 40%;
  }

  .best_foot_container img{
    height: 400px;
  }

  .school_deals_photos{
    flex-wrap: wrap;
  }

  .school_deals_photos img{
    height: 400px;
    
  }

  .class_over{
    display: none;
  }
}