<div class="sale">
    <div class="off">
    <h3>UP TO 60% OFF - PRIVATE SALE</h3>
</div>

    <div class="exclusive">
        <p>SHOP NOW EXCLUSIONS APPLY</p>
    </div>
</div>
<div class="best_dresses">
    <img src="assets\7a1e72d87b38f1e906fc04e1098ae6c289c2cd6e-2000x694 (1).jpeg" alt="">
    <div class="dressed_text">
        <h1>BEST DRESSED</h1>
        <p>GRADE A FASHION</p>
        <div class="dressed_buttons">
            <a routerLink="/store">SHOP MEN'S</a>
            <a routerLink="/store">SHOP WOMEN'S</a>
            <a routerLink="/store">SHOP KID'S</a>
        </div>
    </div>
</div>

<div class="carousel-container">
    <button class="carousel-control prev" (click)="prev()">‹</button>
    <div class="carousel" [style.transform]="'translateX(' + (-currentSlide * 100 / visibleSlides) + '%)'">
      <div class="carousel-item" *ngFor="let item of item">
        <div class="carousel-content">
          <img [src]="item.src" alt="Carousel image">
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="next()">›</button>
</div>

<div class="best_foot_forward">
    <h1>BEST FOOT FORWARD</h1>
    <p>SHOES THAT RULE THE SCHOOL</p>
    <div class="best_foot_container">
        <div>
            <img src="assets\3e62145d15b5846e35423ff3ad15774609361047-1536x1536.jpg" alt="">
            <h1>STRIDE CONFIDENTLY</h1>
            <p>BEST SELLING SHOES</p>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
        <div>
            <img src="assets\3e62145d15b5846e35423ff3ad15774609361047-1536x1536.jpg" alt="">
            <h1>STRIDE CONFIDENTLY</h1>
            <p>BEST SELLING SHOES</p>
        <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
    </div>
</div>

<div class="carousel-container">
    <button class="carousel-control prev" (click)="prev()">‹</button>
    <div class="carousel" [style.transform]="'translateX(' + (-currentSlide * 100 / visibleSlides) + '%)'">
      <div class="carousel-item" *ngFor="let item of item">
        <div class="carousel-content">
          <img [src]="item.src" alt="Carousel image">
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="next()">›</button>
</div>

<div class="best_foot_forward">
    <h1>AFTER SCHOOL COOL</h1>
    <p>STYLES THAT KEEP UP WITH YOUR DAY</p>
    <div class="best_foot_container">
        <div>
            <img src="assets\4e531343d7544a8250b7b5d8caa6eeaf88ff3f3d-1536x1536.jpg" alt="" height="700px">
            <h1>WINNIG LOOKS</h1>
            <p>SPORTS GEAR FOR STUDENTS ATHLETES</p>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
        <div>
            <img src="assets\a1b97e0564e884d264fa537403d3479c2a6ddae8-1536x1536.jpg" alt="" height="700px">
            <h1>STAY COMFORTABLE</h1>
            <p>LOUNGEWEAR TI STUDY IN STYLE</p>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
    </div>
</div>

<div class="back_to_school_deals" style="margin-bottom: 5%;">
    <h1>BACK TO SCHOOL DEALS</h1>
    <p>SAVINGS START HERE</p>
    <div class="school_deals_photos">
        <div>
            <img src="assets\ed2faadbc922340790a7fec9def179fd9cffc597-1536x1536.jpg" alt="" height="350px">
            <h1>SHOES UNDER $30</h1>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
        <div>
            <img src="assets\40e4f322d43c9c1d6522daf301f79a7d07c84a4e-1536x1536.jpg" alt="" height="350px">
            <h1>SHOES UNDER $30</h1>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
        <div>
            <img src="assets\dd65b4b2e8dd63ff74496651b38d9ea20145ef2f-1536x1536.jpg" alt="" height="350px">
            <h1>SHOES UNDER $30</h1>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
        <div>
            <img src="assets\97b7d253057ee545a2aec6b3b276e366b47d72b6-1536x1536.jpg" alt="" height="350px">
            <h1>SHOES UNDER $30</h1>
            <button routerLink="/store"><p>SHOP NOW</p></button>
        </div>
    </div>
</div>

<div class="last">
    <div class="last_text">
        <h1>BACK TO SCHOOL</h1>
        <p>GET READY FOR THE NEW SCHOOL YEAR</p>
        <button routerLink="/store"><p>SHOP NOW</p></button>
    </div>
    <img src="assets\e9b875bc84ca50d7fcca14bb75da9ea4cd660616-2000x486.jpeg" alt="">
</div>