<div class="Myaccount">
    <h1>My account</h1>
</div>

<div class="acc">
    <div class="log_reg">
        <div class="log" (click)="LogClick()">
        <h3>Login</h3>
    </div>

    <div class="reg" (click)="RegClick()">
        <h3>Create account</h3>
    </div>
</div>

<!-- log -->
 <div class="inp"  *ngIf="Logvisible">
    <div class="email"> 
        <label>EMAIL<span>*</span></label>
        <input type="email" placeholder="Email">
    </div>

        <div class="password">
            <label>Password<span>*</span></label>
            <input type="password" placeholder="Password">
        </div>


    <div class="check">
        <label  class="checkbox-container">
            <span class="remember">Remember me on this computer</span>
            <input class="custom-checkbox" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="logbtn_container">
        <button class="Loginbtn"><span>LOGIN</span></button>
    </div>

    <div class="logrule">
        <p>By continuing, I confirm that I have read and accept the <span>Terms and Conditions.</span> and the <span>Privacy Policy.</span></p>
    </div>

    <div class="forgotpass">
        <h5>FORGOTTEN YOUR PASSWORD?</h5>
    </div>
</div>
</div>
<!-- log -->

<!-- reg -->
 <div class="reg" *ngIf="Regvisible">

    <div class="reg_inp">
        <label>First Name<span>*</span></label>
        <input type="text" placeholder="First Name">
    </div>

    <div class="reg_inp">
        <label>Last Name<span>*</span></label>
        <input type="text" placeholder="Last Name">
    </div>

    <div class="reg_inp">
        <label>Email<span>*</span></label>
        <input type="email" placeholder="Email">
        <div class="Reg_error" *ngIf="RegError">
            <img src="assets\warning.png" alt="">
            <p>You need to have a valid email.</p>
        </div>
    </div>

    <div class="reg_inp">
        <label>Password<span>*</span></label>
        <input type="password" placeholder="Password">
        <div class="Reg_error" *ngIf="RegError">
            <img src="assets\warning.png" alt="">
            <p>Your password must contain at least 8 characters</p>
        </div>
    </div>

    <div class="start">
    <div class="check">
        <label  class="checkbox-container">
            <span class="remember">Remember me on this computer</span>
            <input class="custom-checkbox" type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    
    <div class="logrule">
        <p>By continuing, I confirm that I have read and accept the Terms and Conditions. and the Privacy Policy.</p>
    </div>

    <div class="logbtn_container">
        <button class="Loginbtn"><span>REGISTER</span></button>
    </div>
</div>
 </div>
<!-- reg -->
