<div class="sale">
    <div class="off">
    <h3>UP TO 60% OFF - PRIVATE SALE</h3>
</div>

    <div class="exclusive">
        <p>SHOP NOW EXCLUSIONS APPLY</p>
    </div>
</div>


<div class="kids_waedrobe">
    <div class="kids_img">
        <img src="assets\a57a386d2e058ea3959bda4298887f6388709335-2000x694.webp" alt="">
    </div>

    <div class="build_flex">
    <div class="build_kids_wardrobe_h1">
        <h1>BUILD YOUR WARDROBE</h1>
    </div>

    <div class="build_kids_wardrobe_p">
        <p>THE LATEST AND GREATEST</p>
    </div>

    <div class="build_kids_wardeobe_btn">
        <button>SHOP BEST SELLERS</button>
    </div>
</div>
</div>

<div class="kids_arrival">
    <h2>KID'S NEW ARRIVALS</h2>
</div>

<div class="carousel-container">
    <button class="carousel-control prev" (click)="prev()">‹</button>
    <div class="carousel" [style.transform]="'translateX(' + (-currentSlide * 100 / visibleSlides) + '%)'">
      <div class="carousel-item" *ngFor="let item of item">
        <div class="carousel-content">
          <img [src]="item.src" alt="Carousel image">
        </div>
      </div>
    </div>
    <button class="carousel-control next" (click)="next()">›</button>
  </div>

  <div class="size">
    <h1>SHOP BY SIZE</h1>
  </div>

  <div class="by_size_list">

    <div class="by_size_img">
        <div class="kid_flex">
            <div class="kid_h"> <h3>BIG KIDS SHOES</h3> </div>
            <div class="kid_p"> <p>SIZES 4 - 7</p> </div>
        </div>
        <img src="assets\161712e9c43004517f17427f581aa6fe12a0fcf1-2000x2000.jpg" alt="">
    </div>


    <div class="by_size_img">
        <div class="kid_flex">
        <div class="kid_h"> <h3>LITTLE KIDS SHOES</h3> </div>
        <div class="kid_p"> <p>SIZES 10.5 - 3.5</p> </div>
    </div>
        <img src="assets\Easy-Rider-Vintage-Big-Kids'-Sneakers (1).avif" alt="">
    </div>

    <div class="by_size_img">
        <div class="kid_flex">
            <div class="kid_h"> <h3>TOODLER KIDS SHOES</h3> </div>
            <div class="kid_p"> <p>SIZES 4 - 10</p> </div>
        </div>
        <img src="assets\Easy-Rider-Vintage-Big-Kids'-Sneakers.avif" alt="">
    </div>

    <div class="by_size_img">
        <div class="kid_flex">
            <div class="kid_h"> <h3>BIG KIDS CLOTHING</h3> </div>
            <div class="kid_p"> <p>SIZES S - LX</p> </div>
        </div>
        <img src="assets\7d7e9f68b054e97b1572815393d9e39cd3f1045d-2000x2000.jpg" alt="">
    </div>

    <div class="by_size_img">
        <div class="kid_flex">
            <div class="kid_h"> <h3>LITTEL KIDS CLOTHING</h3> </div>
            <div class="kid_p"> <p>SIZES 4 - 7</p> </div>
        </div>
        <img src="assets\4d65b320896c3c38438c519619bba24d17ddcbee-2000x2000.jpg" alt="">
    </div>

    <div class="by_size_img">
        <div class="kid_flex">
            <div class="kid_h"> <h3>INFANT + TODDLER CLOTHING</h3> </div>
            <div class="kid_p"> <p>SIZES 0M - 4T</p> </div>
        </div>
        <img src="assets\1e4932502eb0f6f5444a274ea442f144f601943a-2000x2000.jpg" alt="">
    </div>
  </div>

  <div class="kid_Performance">
    <h1>SHOP BY PERFORMANCE</h1>
  </div>

  <div class="kid_sport">

    <div class="kid_ball">
        <div class="kid_power">
            <div class="kid_power_h">
            <h1>SOCCER</h1>
            </div>
        </div>
        <img src="assets\dd65b4b2e8dd63ff74496651b38d9ea20145ef2f-1536x1536 (1).jpg" alt="">
    </div>

    <div class="kid_ball">
        <div class="kid_power">
            <div class="kid_power_h">
            <h1>BASKETBALL</h1>
            </div>
        </div>
        <img src="assets\75ce4d0b9208e05c470090ddf8619c1ea11a2c0f-1536x1536.jpg" alt="">
    </div>
  </div>